<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User page</title>
</head>
<body>
<p>Привет </p><p th:text="${userInfo.getFirst_name()} "><p th:text="${userInfo.getLast_name()}"><p>!</p><br>
<p>Информация о тебе:</p><br>
<p>Имя пользователя: </p><p th:text="${userInfo.getUsername()} "></p><p>Возраст: </p><p th:text="${userInfo.getAge()} "></p><p>E-Mail: </p><p th:text="${userInfo.getEmail()}"></p>
<br>
<a th:href="@{/logout}" class="btn">Выйти</a>
</body>
</html>